body {
	background-color: darkred;
}
.wrapper {
width: 1380px;
margin: 0 auto;
background-color: white;
overflow: hidden;
}
.AngularJS {
	font-size: 25px;
	color: darkred;

}

header {
	margin: 0 auto;
	width: 1340px;
	/*border: 1px solid green;*/
	
}
h1 {
	text-align: center;
	width: 1380px;
	margin: 0 auto;
	/*border: 1px solid green;*/
	color: darkred;
	font-family: "Corbel";

}
h2 {
	text-align: center;
	color: darkred;
	font-family: "Corbel";
}
h3 {
	color: darkred;
	font-family: "Corbel";
}
h4 {
	font-family: "Corbel";
}


main {

	width: 1200px;
	float: right;
	/*border: 1px solid green;*/
}


aside {
	width: 180px;
	margin:  auto;
	/*float: left;*/
	/*border: 1px solid green;*/

}

section {
	width: 1100px;

}
article {
	width: 1080px;
}
/*.block{
	
	float: left;
}
.Brauser_war{
	
	float: left;
}*/
.Navigation {
	margin: 0 auto;
	float: left;
	width: 180px;
	margin: 50px auto;
	
	/*border: 3px solid green;*/
	position: fixed;
/*	top: 230px;*/

}


p {
	padding-left: 	20px;
	text-align: justify;
	font-family: "Corbel";


}
footer {
	margin: 0 auto;
	width: 1380px;
	float: left;
	clear: both;
	padding-left: 	20px;
}

}
.BootStrap_H {
	color: purple;
}
.button {
	margin: 0 auto;
	text-align: center;
	padding-left: 20px;
}
.text_li {
	padding-left: 50px;
	font-family: "Corbel";
}
hr {
	border: 3px groove darkred;
}