*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

html{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #ffff;
	background: #27353f;
}

header{
	min-height: 400px;
}

.container{
	min-height: 800px;
	background: url('img/second.jpg') center/cover no-repeat;

}

.my_projects {
	display: block;
	left: 10px;
}

.my_projects a{
	color: #b7f1ff;
}



