*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

html{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #ffff;
	background: #27353f;
}

header {
  min-height: 300px;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center;     /* по вертикали */
  /* background: center/cover no-repeat url('your-image.jpg'); если нужен фон */
  text-align: center;
}

.container{
	min-height: 800px;
	background: url('img/second.jpg') center/cover no-repeat;

}

.my_projects {
	display: block;
	left: 10px;
}

.my_projects a{
	color: #b7f1ff;
}



